<h1 class="text-center"><%= @current_user.name %>'s Current Wave Dashboard</h1>

<%= render "tasks/counted_group", tasks: @unassigned, title: "Tasks Yet Unassigned" %>
<%= render "tasks/counted_group", tasks: @in_progress, title: "Your In Progress" %>
<%= render "tasks/counted_group", tasks: @today, title: "Your Unstarted Due Today" %>
<%= render "tasks/counted_group", tasks: @tomorrow, title: "Your Unstarted Due Tomorrow" %>
<%= render "tasks/counted_group", tasks: @other, title: "Your Other Remaining Tasks" %>
<%= render "tasks/counted_group", tasks: @completed, title: "Your Completed Tasks" %>
<%= render "tasks/counted_group", tasks: @dishonor, title: "Your Skipped and Failed Tasks" %>
