<%
  is_recurring = task.is_a? RecurringTaskTemplate
  status_color_map = {
    "in_progress" => "primary",
    "completed" => "success",
    "skipped" => "warning",
    "failed" => "danger"
  }
  status_color = status_color_map[task.status] unless is_recurring
  first_badge_class = "bg-secondary"
  if status_color
    border_class = "border-#{status_color}"
    header_class = "#{border_class} bg-#{status_color}#{" text-dark" if status_color == "warning"}"
    first_badge_class = "bg-#{status_color}#{" text-dark" if status_color == "warning"}"
  end
  first_badge_content = is_recurring ? task.short_type : task.status.titleize
  wave = task.waves.active.first unless is_recurring
%>

<div class="card <%= border_class %>">
  <div class="card-header <%= header_class %>">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-0">
          <%= task.title %>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body <%= border_class %>">
    <div class="row">
      <div class="col-6">
        <%= render "common/badge", classes: "#{first_badge_class} mb-2", content: first_badge_content %>
      </div>
      <% if task.editable? || task.skippable? || task.discardable? %>
        <div class="col-6 text-end">
          <% if task.editable? %>
            <%=
              link_to(
                is_recurring ? edit_recurring_task_template_path(task.id) : edit_task_path(task.id),
                class: "btn btn-info text-light py-0 px-1",
                role: "button"
              ) do
            %>
              <%= render "common/icon", icon: "pencil-square" %>
            <% end %>
          <% end %>
          <% if task.skippable? %>
            <%=
              link_to(
                task_skip_path(task.id),
                class: "btn btn-warning text-light py-0 px-1",
                data: {
                  turbo_confirm: "SKIP actions are PERMANENT.\nAre you sure you want to SKIP?",
                  turbo_method: :post
                }
              ) do
            %>
              <%= render "common/icon", icon: "ban" %>
            <% end %>
          <% end %>
          <% if task.discardable? %>
            <%=
              link_to(
                is_recurring ? recurring_task_template_path(task) : task_path(task),
                class: "btn btn-danger text-light py-0 px-1",
                data: {
                  turbo_confirm: "DELETE actions are PERMANENT.\nAre you sure you want to DELETE?",
                  turbo_method: :delete
                }
              ) do
            %>
              <%= render "common/icon", icon: "trash" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="card-text"><%= task.description %></p>
    <% task.categories.each do |category| %>
      <%= render "common/badge", color: category.color, content: category.name %>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <% if !is_recurring && task.unfinished? %>
      <li class="list-group-item <%= border_class %>">
        <p class="mb-0">
          <% if is_recurring %>
            <span class="fw-bolder">Days:</span>
            <%= task.display_days %>
          <% else %>
            <% if task.firm_due || task.suggested_due %>
              <% if task.firm_due %>
                <span class="fw-bolder <%= "text-danger" unless task.completed? %>">Firm Due:</span>
                <%= task.firm_due.strftime("%-m/%-d/%y") %>
              <% end %>
              <% if task.suggested_due %>
                <% if task.firm_due %>
                  <br>
                <% end %>
                <span class="fw-bolder text-warning">Suggested Due:</span>
                <%= task.suggested_due.strftime("%-m/%-d/%y") %>
              <% end %>
            <% else %>
              <% if wave.present? %>
                <span class="fw-bolder text-info">Wave End:</span>
                <%= wave.end_at.strftime("%-m/%-d/%y") %>
              <% else %>
                <small class="fst-italic">No Defined Due Date</small>
              <% end %>
            <% end %>
          <% end %>
        </p>
      </li>
    <% end %>
    <li class="list-group-item <%= border_class %>">
      <p class="mb-0">
        <span class="fw-bolder">Urgency:</span>
        <%= render "common/intensity_badge", intensity: task.urgency_label %>
      </p>
    </li>      
    <li class="list-group-item <%= border_class %>">
      <p class="mb-0">
        <span class="fw-bolder">Complexity:</span>
        <%= render "common/intensity_badge", intensity: task.complexity_label %>
      </p>
    </li>
    <li class="list-group-item <%= border_class %>">
      <p class="mb-0">
        <% if task.assigned_to %>
          <span class="fw-bolder">Assigned To:</span>
          <%= task.assigned_to.name %>
        <% end %>
        <% if !is_recurring && task.assignable? && task.assigned_to&.id != @current_user.id %>
          <%= 
            link_to(
              task_assign_path(task.id, @current_user.id),
              class: "btn btn-primary text-light py-0 px-1",
              data: { turbo_method: :post }
            ) do 
          %>
            <%= render "common/icon", icon: "person-plus" %>
            Assign To Me!
          <% end %>
        <% end %>
      </p>
    </li>
    <% if task.respond_to? :completed_by %>
      <li class="list-group-item <%= border_class %>">
        <p class="mb-0">
          <% if task.completed_by %>
            <span class="fw-bolder">Completed By:</span>
            <%= task.completed_by.name %>
          <% else %>
            <% if task.skipped? || task.failed? %>
              <small class="fst-italic">Task Will Not Be Completed</small>
            <% elsif task.in_current_wave? %>
              <% if task.startable? %>
                <%= 
                  link_to(
                    task_remove_from_wave_path(task.id),
                    class: "btn btn-warning text-light py-0 px-1",
                    data: { turbo_method: :post }
                  ) do 
                %>
                  <%= render "common/icon", icon: "tsunami" %>
                  Remove
                <% end %>
              <% end %>
              <% if @current_wave.active? && task.assigned_to?(@current_user.id) %>
                <% if task.startable? %>
                  <%=
                    link_to(
                      task_start_path(task.id),
                      class: "btn btn-primary text-light py-0 px-1",
                      data: { turbo_method: :post }
                    ) do
                  %>
                    <%= render "common/icon", icon: "play-circle" %>
                    Start
                  <% end %>
                <% end %>
                <% if task.unstartable? %>
                  <%=
                    link_to(
                      task_unstart_path(task.id),
                      class: "btn btn-warning text-light py-0 px-1",
                      data: { turbo_method: :post }
                    ) do
                  %>
                    <%= render "common/icon", icon: "pause-circle" %>
                    Unstart
                  <% end %>
                <% end %>
                  <%=
                    link_to(
                      task_complete_path(task.id),
                      class: "btn btn-success text-light py-0 px-1",
                      data: { 
                        turbo_confirm: "Completing a task is PERMANENT.\nAre you sure you want to COMPLETE?",
                        turbo_method: :post
                      }
                    ) do
                  %>
                    <%= render "common/icon", icon: "check2-square" %>
                    Complete
                  <% end %>
              <% end %>
            <% elsif @current_wave.present? %>
              <%= 
                link_to(
                  task_add_to_wave_path(task.id),
                  class: "btn btn-primary text-light py-0 px-1",
                  data: { turbo_method: :post }
                ) do 
              %>
                <%= render "common/icon", icon: "tsunami" %>
                Add to Wave
              <% end %>
            <% else %>
              <small class="fst-italic">No Currently Active Wave</small>
            <% end %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
  <%= render( 
    "common/card_footer",
    model: task,
    author_name: task.author.is_a?(RecurringTaskTemplate) ? "Template" : task.author.name
  )%>
</div>
