<h1 class="text-center">New Task</h1>
<div class="container">
    <%= form_with url: tasks_path do |form| %>
      <div class="row justify-content-center pb-3">
        <div class="col-11">
          <%= form.label :title, class: "form-label" do %>
            <strong>Title</strong>
          <% end %>
          <%= 
            form.text_field(
              :title,
              placeholder: "Terse task summary",
              class: "form-control form-control-lg",
              required: true
            )
          %>
        </div>
      </div>
      <div class="row justify-content-center pb-3">
        <div class="col-11">
          <%= form.label :description, class: "form-label" do %>
            <strong>Description</strong>
          <% end %>
          <%= 
            form.text_area(
              :description,
              placeholder: "Full task description, ideally with details like steps or a definition of done",
              class: "form-control",
              required: true
            )
          %>
        </div>
      </div>

      <div class="row justify-content-around pb-3">
        <div class="col-5">
          <%= form.label :complexity, class: "form-label" do %>
            <strong>Complexity</strong>
          <% end %>
          <%= 
            form.select(
              :complexity,
              @intensity_levels.to_a.map(&:reverse),
              { include_blank: "Complexity Level" },
              { class: "form-select", required: true }
            )
          %>
        </div>
        <div class="col-5">
          <%= form.label :urgency, class: "form-label" do %>
            <strong>Urgency</strong>
          <% end %>
          <%= 
            form.select(
              :urgency,
              @intensity_levels.to_a.map(&:reverse),
              { include_blank: "Urgency Level" },
              { class: "form-select", required: true }
            )
          %>
        </div>
      </div>

      <div class="row justify-content-around pb-3">
        <div class="col-5">
          <%= form.label :firm_due, class: "form-label" do %>
            <em>Firm Due (optional)</em>
          <% end %>
          <%= form.date_field :firm_due, min: Date.today, class: "form-control" %>
        </div>
        <div class="col-5">
          <%= form.label :suggested_due, class: "form-label" do %>
            <em>Suggested Due (optional)</em>
          <% end %>
          <%= form.date_field :suggested_due, min: Date.today, class: "form-control" %>
        </div>
      </div>

      <div class="row justify-content-around pb-3">
        <div class="col-3">
          <%= form.label :assign, class: "form-label" do %>
            <strong>Assign To</strong>
          <% end %>
          <div class="form-check">
            <%= form.radio_button :assign, "unassigned", checked: true, class: "form-check-input" %>
            <%= form.label :assign_unassigned, "Remain Unassigned", class: "form-check-label" %>
          </div>
          <%= 
            form.collection_radio_buttons(
              :assign,
              @assignables,
              :id,
              :name
            ) do |rb|
          %>
            <div class="form-check">
              <%= rb.radio_button class: "form-check-input" %>
              <%= rb.label class: "form-check-label" %>
            </div>
          <% end %>
        </div>
        <div class="col-3">
          <%= form.label :categories, class: "form-label" do %>
            <strong>Categories</strong>
            <em>(select all that apply)</em>
          <% end %>
          <%= 
            form.collection_check_boxes(
              :categories,
              @categories,
              :id,
              :name
            ) do |cb|
          %>
            <div class="form-check">
              <%= cb.check_box class: "form-check-input" %>
              <%= cb.label class: "form-check-label" %>
            </div>
          <% end %>
        </div>
        <div class="col-3">
          <div class="form-check form-switch">
            <%= form.check_box :wave, class: "form-check-input", disabled: !!@current_wave&.active? %>
            <%= form.label :wave, class: "form-check-label" do %>
              <strong>Add to Current Wave</strong>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="row justify-content-center pb-3">
        <div class="col-11 text-center">
          <%= form.button type: "submit", class: "btn btn-primary text-light" do %>
            <%= render "common/icon", icon: "plus-square" %>
            <strong>Create</strong>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
