<h1 class="text-center pt-5 pb-1">
  <%= render "common/icon", icon: "tsunami" %>
  Finalize New Wave!
  <%= render "common/icon", icon: "tsunami" %>
</h1>
<p class="text-center"><%= @current_wave.display_range %></p>
<div class="row justify-content-center">
  <div class="col-auto">
    <%= 
      button_to(
        wave_path(@current_wave.id),
        method: :patch,
        class: "btn btn-primary text-light",
        role: "button"
      ) do
    %>
      <%= render "common/icon", icon: "tsunami" %>
      Commit to This Wave!
      <%= render "common/icon", icon: "tsunami" %>
    <% end %>
  </div>
</div>
<h1 class="text-center pt-5 pb-3">Custom Tasks</h1>
<%= render "tasks/all", tasks: @custom_tasks %>
<h1 class="text-center pt-5 pb-3">Template-Generated Tasks</h1>
<%= render "tasks/all", tasks: @generated_tasks %>
