<h1 class="text-center pt-5 pb-1">
  <%= "#{ @wave.completed? ? "Former" : "Current" } Wave" %>
</h1>
<p class="text-center"><%= @wave.display_range %></p>
<h1 class="text-center pt-5">Custom Tasks</h1>
<p class="text-center pb-3">
  <em><strong><%= @custom_tasks.count %></strong> Custom Tasks Added to Wave</em>
</p>
<%= render "tasks/all", tasks: @custom_tasks %>
<h1 class="text-center pt-5">Generated Tasks</h1>
<p class="text-center pb-3">
  <em><strong><%= @generated_tasks.count %></strong> Tasks Generated</em>
</p>
<%= render "tasks/all", tasks: @generated_tasks %>
